@import url(http://weloveiconfonts.com/api/?family=fontawesome);
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: 'Lato', sans-serif; }

.blowfish-gif {
  padding-left: 5px;
  padding-bottom: 7px;
  width: 339px; }
  @media screen and (max-width: 840px) {
    .blowfish-gif {
      width: 200px; } }

.social-media {
  display: inline-block;
  font-size: 24pt;
  float: right;
  border: 1px solid #DFDFDF;
  background-color: #F7F7F7;
  height: 43px;
  width: 120px;
  margin-top: 26px;
  margin-right: 10px;
  padding-top: 3px;
  padding-left: 7px; }
  @media screen and (max-width: 840px) {
    .social-media {
      width: 90px;
      height: 50px;
      overflow: hidden;
      margin-top: 18px; } }

.logo-text {
  font-family: 'Lato', sans-serif;
  font-size: 20px; }

.icons {
  list-style: none;
  font-size: 24pt;
  display: inline-block; }

.fontawesome-twitter {
  font-family: 'FontAwesome', sans-serif; }
  @media screen and (max-width: 840px) {
    .fontawesome-twitter {
      font-size: 20px;
      margin-bottom: 3px; } }

.fontawesome-facebook {
  font-family: 'FontAwesome', sans-serif; }
  @media screen and (max-width: 840px) {
    .fontawesome-facebook {
      font-size: 20px;
      margin-bottom: 3px; } }

.fontawesome-camera {
  font-family: 'FontAwesome', sans-serif; }
  @media screen and (max-width: 840px) {
    .fontawesome-camera {
      font-size: 20px;
      margin-bottom: 3px; } }

.border-top {
  border-top: 1px solid #BBB;
  margin-top: 15px;
  width: 100%;
  margin-bottom: 12px; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  main::after {
    clear: both;
    content: "";
    display: table; }
  main .logo {
    width: 75px;
    padding-bottom: 0; }
    @media screen and (max-width: 840px) {
      main .logo {
        width: 60px; } }
  main img {
    padding-top: 10px;
    padding-bottom: 10px; }
  main p.title {
    display: inline-block;
    float: left;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    width: 68%; }
  main p.date {
    display: inline-block;
    float: left;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    width: 40%;
    width: 60px; }
  main p.post {
    text-align: left;
    font-size: 12px;
    padding: 0 5%;
    margin-bottom: 5%;
    width: 100%;
    overflow: scroll;
    height: 124px; }
  main .featured-boxes .box {
    text-align: center;
    border: 1px solid black;
    background: #EAEAEA;
    height: 232px;
    padding: 15px;
    padding-top: 0;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    main .featured-boxes .box:last-child {
      margin-right: 0; }
    @media screen and (max-width: 840px) {
      main .featured-boxes .box {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        main .featured-boxes .box:last-child {
          margin-right: 0; } }
    main .featured-boxes .box .border-box {
      border-top: 1px solid black; }
    main .featured-boxes .box h1 {
      font-size: 1em;
      text-align: left;
      padding-bottom: 10px; }
      @media screen and (max-width: 840px) {
        main .featured-boxes .box h1 {
          text-align: center; } }
    main .featured-boxes .box iframe {
      padding-top: 8px;
      padding-bottom: 10px;
      max-width: 100%; }
      @media screen and (max-width: 840px) {
        main .featured-boxes .box iframe {
          width: 500px; } }
    main .featured-boxes .box .address {
      font-size: 12px;
      display: block; }
    main .featured-boxes .box .number-map {
      padding-bottom: 2px; }
    main .featured-boxes .box .number {
      font-size: 12px; }
    main .featured-boxes .box .map {
      padding-left: 5px;
      font-size: 12px; }
    main .featured-boxes .box .directions {
      padding-left: 5px;
      font-size: 12px; }
  main .Reservations {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background-color: pink;
    border: 1px solid black;
    display: block; }
    main .Reservations:last-child {
      margin-right: 0; }

.background-img img {
  width: 100%; }

.thephoto {
  display: inline-block;
  width: 100%;
  height: 100px;
  background-image: url("http://www.finecooking.com/CMS/uploadedimages/Images/Cooking/Articles/Cookbook/Goin-atlantic-sea-scallops_xlg.jpg");
  background-position: center;
  margin-top: 3%; }

.special p {
  display: inline-block;
  font-size: 12px; }
  .special p.eitems {
    float: left;
    font-weight: bold;
    margin-bottom: 0; }
  .special p.eprice {
    float: right;
    margin-bottom: 0; }
  .special p.edesc {
    margin-top: 0;
    text-align: left; }

.news {
  overflow: hidden; }

.bottom-page {
  overflow: hidden;
  margin: 0 auto;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px; }

.menucontent {
  width: 65%;
  display: inline-block;
  float: left;
  margin-right: 5%; }

.food-photos {
  width: 30%;
  display: inline-block;
  float: right;
  border: 1px solid blue; }

.tabs {
  display: block; }
  .tabs li {
    width: 150px;
    padding: 5px;
    display: inline-block;
    border: 1px solid black;
    text-align: center; }
    .tabs li a {
      text-decoration: none;
      color: black; }

.menu {
  text-align: left;
  font-size: 14px; }

.eachtitle {
  display: inline-block; }

.eachentree {
  display: inline-block; }
