@import url(http://weloveiconfonts.com/api/?family=fontawesome);
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

<<<<<<< HEAD
.everything {
  margin: 0 auto;
  overflow: hidden; }

.side-left {
  overflow: hidden;
  width: 30%;
  position: fixed;
  left: 10px;
  top: 0px;
=======
.icons {
>>>>>>> c7328b57f959df6405b91ae5302b3655370f4afa
  list-style: none;
  font-size: 24pt; }

.fontawesome-twitter {
  font-family: 'FontAwesome', sans-serif; }

.fontawesome-facebook {
  font-family: 'FontAwesome', sans-serif; }

.fontawesome-camera {
  font-family: 'FontAwesome', sans-serif; }

.container-right {
  overflow: hidden;
  width: 70%;
  height: 4000px; }
  .container-right p {
    width: 100%; }
