// bower:scss
@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower
@import url(http://weloveiconfonts.com/api/?family=fontawesome);



$mobile: new-breakpoint(max-width 840px);

body {
  font-family: 'Lato', sans-serif;
}

.blowfish-gif {
  padding-left: 5px;
  padding-bottom: 7px;
  width: 339px;
  @include media($mobile) {
    width: 200px;
  }
}

.social-media {
  display: inline-block;
  font-size: 24pt;
  float: right;
  border: 1px solid #DFDFDF;
  background-color: #F7F7F7;
  height: 43px;
  width: 120px;
  margin-top: 26px;
  margin-right: 10px;
  padding-top: 3px;
  padding-left: 7px;
  @include media($mobile) {
    width: 90px;
    height: 50px;
    overflow: hidden;
    margin-top: 16px;
  }
}

.logo-text {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.icons {
  list-style: none;
  font-size: 24pt;
  display: inline-block;
}

.fontawesome-twitter {
  font-family: 'FontAwesome', sans-serif;
  @include media($mobile) {
    font-size: 20px;
    margin-bottom: 3px;
  }
}

.fontawesome-facebook {
  font-family: 'FontAwesome', sans-serif;
  @include media($mobile) {
    font-size: 20px;
    margin-bottom: 3px;
  }
}

.fontawesome-camera {
  font-family: 'FontAwesome', sans-serif;
  @include media($mobile) {
    font-size: 20px;
    margin-bottom: 3px;
  }
}

.border-top {
    border-top: 1px solid #BBB;
    margin-top: 15px;
    width: 100%;
    margin-bottom: 12px;
  }

main {
  @include outer-container;
  .logo {
    width: 75px;
    padding-bottom: 0;
    @include media($mobile) {
      width: 60px;
    }
  }
  img {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  p {
    &.title {
      display: inline-block;
      float: left;
      font-size: 13px;
      font-style: italic;
      font-weight: bold;
      width: 68%;
    }
    &.date {
      display: inline-block;
      float: left;
      font-size: 13px;
      font-style: italic;
      font-weight: bold;
      width: 40%;
      width: 60px;
    }
    &.post {
      text-align: left;
      font-size: 12px;
      padding: 0 5%;
      margin-bottom: 5%;
      width: 100%;
      overflow: scroll;
      height: 124px;
    }
  }
  .featured-boxes {
    .box {
      text-align: center;
      border: 1px solid black;
      background: #EAEAEA;
      height: 232px;
      padding: 15px;
      padding-top: 0;
      @include span-columns(4);
      @include media($mobile) {
        @include span-columns(12);
      }
      .border-box {
        border-top: 1px solid black;
      }

      h1 {
        font-size: 1em;
        text-align: left;
        padding-bottom: 10px;
        @include media($mobile) {
          text-align: center;
        }
      }
      iframe {
        padding-top: 8px;
        padding-bottom: 10px;
        max-width: 100%;
        @include media($mobile) {
          width: 500px;
        }
      }
      .address {
        font-size: 12px;
        display: block;
      }
      .number-map {
        padding-bottom: 2px;
      }
      .number {
        font-size: 12px;
      }
      .map {
        padding-left: 5px;
        font-size: 12px;
      }
      .directions {
        padding-left: 5px;
        font-size: 12px;
      }

      //iframe {
      //  width: 100% !important;
      //}
    }
  }
  .Reservations {
    @include span-columns(12);
    background-color: pink;
    border: 1px solid black;
    display: block;
    // overflow: scroll;
  }
}
.background-img img{
  width: 100%;
}

.thephoto {
  display: inline-block;
  width: 100%;
  height: 100px;
  background-image: url('http://www.finecooking.com/CMS/uploadedimages/Images/Cooking/Articles/Cookbook/Goin-atlantic-sea-scallops_xlg.jpg');
  background-position: center;
  margin-top: 3%;
}

.special {
  & p{
    display: inline-block;
    font-size: 12px;
    &.eitems {
      float: left;
      font-weight: bold;
      margin-bottom: 0;
    }
    &.eprice {
      float: right;
      margin-bottom: 0;
    }
    &.edesc {
      margin-top: 0;
      text-align: left;
    }
  }
}
.news {
  overflow: hidden;
}

// Top Menu Buttons for different displays

.bottom-page {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.menucontent {
  width: 65%;
  display: inline-block;
  float: left;
  // border: 1px solid red;
  margin-right: 5%;
}

.menutabs {
  height: 40px;
  margin-bottom: 5px;
  overflow: hidden;
  & p {
    padding: 5px;
    display: inline-block;
    width: 20%;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    overflow: hidden;
  }
}

.food-photos {
  width: 30%;
  display: inline-block;
  float: right;
  border: 1px solid blue;
}

//Tabs sytling
.tabs {
  display: block;
  & li {
    width: 150px;
    padding: 5px;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    & a {
      text-decoration: none;
      color: black;
    }
  }
}

.active {
  font-style: italic;
  font-weight: bolder;
}

hr {
  display: none;
}

//Menu Styling

.menu {
  text-align: left;
  font-size: 14px;
}

.eachtitle {
  display: inline-block;
}

.eachentree {
  display: inline-block;
}
