@import 'bourbon/bourbon';
@import 'neat/neat';

.side {
  position: fixed;
  left: 10px;
  top: 0px;
  list-style: none;
  padding-left: 0px;
  text-decoration: none;
}
    
    a {
      text-decoration: none;
    }


.container {
  margin:  0 auto;
  width: 900px;
  height: 4000px;
}

//Vinnie Input CSS NOT PUSHED  DISPLAY NONE ADD**
.Reservations {
  margin: 0 auto;
  width: 1000px;
  border: 2px #898989;
  background-color: pink;
 
}

.submit {
  background-color: black;
  color: white;
}


//End of Vinnie CSS NOT PUSHED**